/* Whole Page */

html {
    background-color: #f8b7ff;
    font-size: 18px;
    color: black;
    font-family: "Microsoft JhengHei UI";
}

body {
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
}

/* Headings */

/*Top Navigation bar*/
h1 {
    color: white;
    font-size: 36px;
    padding-top: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    background-color: black;
    margin-top: 0px;
}

h2 {
    font-size: 24px;
    margin-left: 12px;
}

h3 {
    font-size: 20px;
    margin-left: 36px;
}

/* Basic Elements */

p {
    margin-left: 36px;
    margin-right: 25vw;
}

ul {
    padding: 8px;
    border: 3px dotted black;
    margin-left: 16px;
    margin-right: 16px;
    overflow: auto;
    word-break: break-all;
    max-height: 108px;
}
  
li {
    margin-left: 20px;
    list-style-type: square;
}

/* Navigation Bar/Title Bar (tehcnically h1 is also part of this) */

#titleimage {
    margin-top: 0px;
    margin-right: 12px;
    margin-bottom: 0px;
    margin-left: 12px;
    width: 48px;
    height: 48px;
    vertical-align: middle;
}

#titletext {
    vertical-align: middle;
    margin-right: 228px;
    margin-left: 0px;
    color: white;
    text-decoration: none;
}

/* Title Bar Links */

.links, .WIPLink, #current {
    text-decoration: none;
    font-size: 24px;
    vertical-align: middle;
    margin-right: 64px;
    padding: 8px;
    border-style: solid;
    border-width: 0px;
    border-radius: 30px;
    border-color: black;
    color: black;
    background-color: #e784f2;
}

.WIPLink {
    background-color: #747474;
}

.links:hover {
    background-color: #e15df0;
}

#current {
    background-color: #df46f0;
}

/* Other
This does something but i forgot what and
why
*/

/* --something something this breaks stuff
a:link {
    color:blue;
}

a:link a:visited {
    color: rgb(88, 0, 151);
}

a:hover {
    text-decoration: none;
    color: rgb(37, 0, 63);
}
*/



.listinfo {
    background-color: #da31ec;
    border-radius: 30px;
    margin-left: 36px;
    padding: 6px;
}

.listinfo:hover {
    background-color: #ab28b9;
}